.navbar {
    padding-top: 20px;
    color: white;
    background-color: rgb(41,41,41);
    position: fixed;
    float: left;
    height: 100%;
    width: 350px;
    flex-flow: column nowrap;
    align-items: flex-start;
    text-align: center;
    z-index: 100;
}

.me {
    padding-bottom: 15px;
    width: 200px;
    border-radius: 100%;
}